{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend:layout.html.twig' %}

{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import show %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import page_title %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        {% include 'AccardWebBundle:Frontend/Import:tabs.html.twig' %}
    </div>
</div>
<div class="panel-group" id="importers">
{% for importer in importers %}
    {% set view = accard_importer_view(importer) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#importers" href="#importer-{{ view.name }}">
                    {{ ('accard.importer.'~view.name)|trans }}
                </a>
            </h4>
        </div>
        <div id="importer-{{ view.name }}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Name: <samp>{{ view.name }}</samp></li>
                            <li>Last import: {% if view.latestRunDate %}{{ view.latestRunDate|date() }}{% else %}n/a{% endif %}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Number if imports: {{ view.runs }}</li>
                            <li>Average import time: {{ view.averageRunTime|number_format(2) }} seconds</li>
                            <li>Last run time: {{ view.latestRunTime|number_format(2) }} seconds</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    {{ show(path('accard_frontend_import_importer_records', { importer: view.name }), 'accard.import.show_records'|trans) }}
                    {{ show(path('accard_frontend_import_importer_show', { importer: view.name }), 'accard.import.show_importer'|trans) }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}