{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% extends 'AccardWebBundle:Frontend:layout.html.twig' %}

{% from 'AccardWebBundle:Frontend/Import:macros.html.twig' import list_records %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import pagination %}
{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import info %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        {% include 'AccardWebBundle:Frontend/Import:tabs.html.twig' %}
    </div>
</div>

{% if importer is defined %}
    {{ info('accard.import.show_importer_records'|trans({ '%name%': importer.name|humanize }), false) }}
    {{ list_records(records, importer) }}
{% else %}
    {{ list_records(records) }}
{% endif %}

{{ pagination(records) }}

<div id="record-details" tabindex="-1" role="dialog" aria-labelledby="record-detail-title" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">{{ 'accard.close'|trans }}</span>
                </button>
                <h4 id="record-detail-title" class="modal-title">{{ 'accard.import.record_details'|trans }}</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <a href="" id="modal-accept" class="btn btn-success" data-import="accept" data-dismiss="modal">{{ 'accard.accept'|trans }}</a>
                <a href="" id="modal-decline" class="btn btn-danger" data-import="decline" data-dismiss="modal">{{ 'accard.decline'|trans }}</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'accard.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block page_javascripts %}

    {% javascripts output='assets/compiled/backend.js'
            'bundles/accardimport/js/import.js'
        %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}