{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% macro list_records(records, importer) %}

{% from 'AccardWebBundle:Common/Macros:alerts.html.twig' import warning %}
{% from 'AccardWebBundle:Common/Macros:buttons.html.twig' import edit, delete %}
{% from 'AccardWebBundle:Common/Macros:misc.html.twig' import label %}

{% if records|length > 0 %}
    <table class="table table-bordered table-striped table-condensed import-records">
    {% for record in records %}
        {% set record_view = accard_record_view(record) %}
        {% set fields = record_view.fields %}
        {% set data = record.data %}

        {% if loop.first %}
        <thead>
            <tr>
                <th rowspan="2">Record Id</th>
                <th colspan="{{ fields|length }}">Data</th>
                <th rowspan="2">Actions</td>
            </tr>
            <tr>
            {% for field, label in fields %}
                <th>{{ label|trans }}</th>
            {% endfor %}
        </thead>
        <tbody>
        {% endif %}
            <tr id="{{ record.id }}">
                <td>{{ record.id }}</td>
                {% for field, label in fields %}
                    {% set datum = attribute(data, field) %}
                    <td>
                        {%- if datum.timezone is defined -%}
                            {{- datum|localizeddate('medium', 'none') -}}
                        {%- else -%}
                            {{- datum -}}
                        {%- endif -%}
                    </td>
                {% endfor %}
                <td>
                    <a href="{{ path('accard_frontend_import_record_show', { id: record.id }) }}" data-import="show" data-record-id="{{ record.id }}" class="btn btn-default btn-xs">Show</a>
                    <a href="{{ path('accard_frontend_import_record_accept', { id: record.id }) }}" data-import="accept" data-record-id="{{ record.id }}" class="btn btn-success btn-xs">Accept</a>
                    <a href="{{ path('accard_frontend_import_record_decline', { id: record.id }) }}" data-import="decline" data-record-id="{{ record.id }}" class="btn btn-danger btn-xs">Decline</a>
                </td>
            </tr>
        {% if loop.last %}
        </tbody>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    {{ warning('accard.import.no_records_found'|trans) }}
{% endif %}

{% endmacro %}
